<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="Phyton" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\flaskProject1\venv\Scripts\python.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
